# Data Cleaning

## Structural Errors

In [1]:
import pandas as pd
import numpy as np
df = pd.DataFrame()

df['time'] = pd.to_datetime(pd.Series(['19052020','19052020','20052020','21052020','22052020','23052020','24052020','25052020','26052020','27052020','28052020','29052020']), format='%d%m%Y', errors='ignore')
df['machine'] = pd.Series(['node1','node1','Node1','node1','node1','Node1','node1','node1','node1','node1','node1','node1','node1'])
df['sensor1'] = pd.Series([1,1,3,5,7,9,7,np.NaN,3,1,3,5])
df['sensor2'] = pd.Series([4,4,3,2,1,0,1,2,np.NaN,4,5,6])
df['sensor3'] = pd.Series([2,2,4,6,8,10,8,6,4,np.NaN,0,4])

#df['identity'] = pd.Series(['123', '124','123','125','127','132','143','157'])
#df['profession'] = pd.Series(['student', 'IT', 'Student', 'Information Technologies', 'Public Relations', 'CEO', 'Doctor','student'])

display(df)

         time machine  sensor1  sensor2  sensor3
0  2020-05-19   node1      1.0      4.0      2.0
1  2020-05-19   node1      1.0      4.0      2.0
2  2020-05-20   Node1      3.0      3.0      4.0
3  2020-05-21   node1      5.0      2.0      6.0
4  2020-05-22   node1      7.0      1.0      8.0
5  2020-05-23   Node1      9.0      0.0     10.0
6  2020-05-24   node1      7.0      1.0      8.0
7  2020-05-25   node1      NaN      2.0      6.0
8  2020-05-26   node1      3.0      NaN      4.0
9  2020-05-27   node1      1.0      4.0      NaN
10 2020-05-28   node1      3.0      5.0      0.0
11 2020-05-29   node1      5.0      6.0      4.0

In [2]:
df.machine = df.machine.replace('Node1','node1')
display(df)

         time machine  sensor1  sensor2  sensor3
0  2020-05-19   node1      1.0      4.0      2.0
1  2020-05-19   node1      1.0      4.0      2.0
2  2020-05-20   node1      3.0      3.0      4.0
3  2020-05-21   node1      5.0      2.0      6.0
4  2020-05-22   node1      7.0      1.0      8.0
5  2020-05-23   node1      9.0      0.0     10.0
6  2020-05-24   node1      7.0      1.0      8.0
7  2020-05-25   node1      NaN      2.0      6.0
8  2020-05-26   node1      3.0      NaN      4.0
9  2020-05-27   node1      1.0      4.0      NaN
10 2020-05-28   node1      3.0      5.0      0.0
11 2020-05-29   node1      5.0      6.0      4.0

## Remove Duplicates

In [3]:
df = df.drop_duplicates(subset = ['time', 'machine'], keep = 'first')
display(df)

         time machine  sensor1  sensor2  sensor3
0  2020-05-19   node1      1.0      4.0      2.0
2  2020-05-20   node1      3.0      3.0      4.0
3  2020-05-21   node1      5.0      2.0      6.0
4  2020-05-22   node1      7.0      1.0      8.0
5  2020-05-23   node1      9.0      0.0     10.0
6  2020-05-24   node1      7.0      1.0      8.0
7  2020-05-25   node1      NaN      2.0      6.0
8  2020-05-26   node1      3.0      NaN      4.0
9  2020-05-27   node1      1.0      4.0      NaN
10 2020-05-28   node1      3.0      5.0      0.0
11 2020-05-29   node1      5.0      6.0      4.0

## Handle Missing Values

In [4]:
#fill NaN values with interpolation. 
#Hava a look at https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.interpolate.html 
#for different interpolation methods.

df['sensor1'] = df['sensor1'].interpolate(method = 'linear')
display(df)

         time machine  sensor1  sensor2  sensor3
0  2020-05-19   node1      1.0      4.0      2.0
2  2020-05-20   node1      3.0      3.0      4.0
3  2020-05-21   node1      5.0      2.0      6.0
4  2020-05-22   node1      7.0      1.0      8.0
5  2020-05-23   node1      9.0      0.0     10.0
6  2020-05-24   node1      7.0      1.0      8.0
7  2020-05-25   node1      5.0      2.0      6.0
8  2020-05-26   node1      3.0      NaN      4.0
9  2020-05-27   node1      1.0      4.0      NaN
10 2020-05-28   node1      3.0      5.0      0.0
11 2020-05-29   node1      5.0      6.0      4.0

In [5]:
#fill NaN values with ffill or bfill which is a more straightforward filling method.

df['sensor2'] = df['sensor2'].fillna(method = 'ffill')
display(df)

         time machine  sensor1  sensor2  sensor3
0  2020-05-19   node1      1.0      4.0      2.0
2  2020-05-20   node1      3.0      3.0      4.0
3  2020-05-21   node1      5.0      2.0      6.0
4  2020-05-22   node1      7.0      1.0      8.0
5  2020-05-23   node1      9.0      0.0     10.0
6  2020-05-24   node1      7.0      1.0      8.0
7  2020-05-25   node1      5.0      2.0      6.0
8  2020-05-26   node1      3.0      2.0      4.0
9  2020-05-27   node1      1.0      4.0      NaN
10 2020-05-28   node1      3.0      5.0      0.0
11 2020-05-29   node1      5.0      6.0      4.0

In [6]:
#drop lines with NaN values. which is generally not preferred in time series.

df = df.dropna(subset = ['sensor3'],  axis=0)
display(df)

         time machine  sensor1  sensor2  sensor3
0  2020-05-19   node1      1.0      4.0      2.0
2  2020-05-20   node1      3.0      3.0      4.0
3  2020-05-21   node1      5.0      2.0      6.0
4  2020-05-22   node1      7.0      1.0      8.0
5  2020-05-23   node1      9.0      0.0     10.0
6  2020-05-24   node1      7.0      1.0      8.0
7  2020-05-25   node1      5.0      2.0      6.0
8  2020-05-26   node1      3.0      2.0      4.0
10 2020-05-28   node1      3.0      5.0      0.0
11 2020-05-29   node1      5.0      6.0      4.0

## Handling Outliers

click for details about outliers:

https://teachtomachines.com/2020/07/11/aykiri-deger-tespiti/

click for github repo:

https://github.com/teachtomachines/outlier-detection